body {
    position: absolute;
    left: 20%;
    top: 10%;
    display: flex;
    flex-direction: row;
    background-color: grey;
    font-weight: bold;
}

.left {
    background-color: rgb(117, 115, 115);
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    height: 500px;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 700px;
    scrollbar-color: grey rgb(75, 66, 66);
    scrollbar-width: thin;
}

h2 {
    position: relative;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.songs img {
    width: 30px;
    height: 30px;
}

.songs {
    position: relative;
    left: 5px;
    width: 95%;
    height: 60px;
    margin: 5px;
    justify-content: center;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.songs:hover {
    background-color: rgb(105, 103, 103);
}

img {
    position: relative;
    left: 10px;
    top: 15px;
    border-radius: 10px;
}

.songs p {
    position: relative;
    top: -30px;
    left: 60px;
}

.right {
    background-color: rgb(117, 115, 115);
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    width: 500px;
    text-align: center;
}

.right img {
    height: 200px;
    width: 150px;
    position: relative;
    top: 40px;
}

.right audio {
    position: absolute;
    top: 70%;
    right: 10%;
}

audio {
    margin-top: 10px;
}

.mainSong button {
    border: none;
    background-color: transparent;
}

.mainSong .control {
    width: 50px;
    height: 50px;
}

.mainSong .back {
    position: absolute;
    left: 450px;
    top: 200px;
}

.mainSong .forward {
    position: absolute;
    left: 800px;
    top: 200px;
}

.mainSong .forward:hover {
    cursor: pointer;
    background-color: rgb(105, 103, 103);
}

.mainSong .back:hover {
    cursor: pointer;
    background-color: rgb(105, 103, 103);
}

.hidden {
    display: none;
}